---
export type PostInfo = {
  title: string;
  publishDate: Date;
  updateDate: Date;
  tags: string[];
  summary: string;
  readingTime: number;
  image?: {
    src: string;
    alt: string;
  };
  slug: string;
};

const postInfo: PostInfo = Astro.props.postInfo;
---

<a
  href={`/blog/${postInfo.slug}`}
  class="bg-base-200 w-full shadow-xl h-96 no-underline"
>
  {
    postInfo.image && (
      <figure>
        <img src={postInfo.image.src} alt={postInfo.image.alt} />
      </figure>
    )
  }
  <div class="card-body flex flex-col h-full">
    <h2 class="card-title mb-0">
      {postInfo.title}
    </h2>
    <div>{postInfo.updateDate.toLocaleDateString()}</div>
    <p>{postInfo.summary}</p>
    <div class="flex flex-row mt-auto">
      <div>{postInfo.readingTime}</div>
      <div class="ml-auto card-actions justify-end">
        {
          postInfo.tags.map((tag) => {
            return <div class="badge badge-outline">{tag}</div>;
          })
        }
      </div>
    </div>
  </div>
</a>
